@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
  --accent-color: rgb(175, 175, 175);
  --base-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
}
.darkmode {
  --accent-color: rgb(75, 75, 75);
  --base-color: rgb(34, 34, 34);
  --text-color: rgb(255, 255, 255);
}

html {
  font-family: Poppins, sans-serif, Helvetica;
  font-size: 16px;
}

body{
  overflow-y: hidden;
  background-color: var(--base-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p,
li {
  font-size: 1rem;
}
header {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  text-align: center;
}
header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;
  list-style: none;
}
header form {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header #networks {
  padding-top: 15px;
}
#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact input,
textarea {
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 0;
  color: var(--text-color);
  text-align: center;
  font-size: 1rem;
  resize: none;
}
#contact input:hover,
textarea:hover {
  background-color: var(--base-color);
}
::placeholder { 
  color: var(--text-color);
  font-family: Poppins, sans-serif, Helvetica;
  opacity: 1; 
}
#contact button {
  background-color: var(--base-color);
  border-radius: 50%;
  border: none;
}
#contact button:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
}
footer{
  position: fixed;
  bottom: 0;
}
footer p{
  font-size: .5rem;
}

/* Theme style */
#themeToggle {
  height: 15px;
  width: 20px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  background-color: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 10px;
}
#themeToggle svg:last-child{
  display: none;
}
.darkmode #themeToggle svg:first-child{
  display: none;
}
.darkmode #themeToggle svg:last-child{
  display: block;
}

.darkmode #networks svg {
  fill: white;
}
.darkmode #contact svg {
  fill: white;
}
.darkmode #skills svg {
  fill: white;
}

@media screen and (max-width: 550px) {
  html,
  header,
  main {
    text-align: center; 
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100vw;
  }
}
@media screen and (max-width: 550px) {
  #themeToggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}